<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sangeeta.hw2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="HW3_Saurav_Prakash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".viewpageractivity"  android:screenOrientation="portrait" />
        <activity android:name=".masterdetailflow" android:screenOrientation="portrait" ></activity>
    </application>
</manifest>
